<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <context:component-scan base-package="com.sh.znks.dao">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
    </context:component-scan>

    <bean id="znksDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="maxActive" value="${serverside.db.default.maxActive}"/>
        <property name="maxIdle" value="${serverside.db.default.maxIdle}"/>
        <property name="maxWait" value="${serverside.db.default.maxWait}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${serverside.db.default.timeBetweenEvictionRunsMillis}"/>
        <property name="minEvictableIdleTimeMillis" value="${serverside.db.default.minEvictableIdleTimeMillis}"/>
        <property name="driverClassName" value="${serverside.jdbc.driver}"/>
        <property name="url" value="${serverside.jdbc.app.url}"/>
        <property name="username" value="${serverside.jdbc.app.username}"/>
        <property name="password" value="${serverside.jdbc.app.password}"/>
    </bean>
    <bean id="znksSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="znksDataSource"/>
        <property name="mapperLocations" value="classpath*:sqlmap/**/*.xml"/>
        <property name="typeAliasesPackage" value="com.sh.znks.domain"/>
    </bean>
    <bean id="znksSqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
        <constructor-arg index="0" ref="znksSqlSessionFactory"/>
    </bean>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="znksDataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>