<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-autowire="byName">

    <!-- 定义目标bean和bean中的方法 -->
    <bean id="znksStatusJob" class="com.sh.znks.service.impl.job.StatusJobServiceImpl"/>
    <bean id="znksStatusDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="znksStatusJob"/>
        <property name="targetMethod" value="execute"/>
        <property name="concurrent" value="false"/>
    </bean>
    <bean id="znksAccountingJob" class="com.sh.znks.service.impl.job.AccountingJobServiceImpl"/>
    <bean id="znksAccountingDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="znksAccountingJob"/>
        <property name="targetMethod" value="execute"/>
        <property name="concurrent" value="false"/>
    </bean>
    <bean id="znksExpiryJob" class="com.sh.znks.service.impl.job.ExpiryJobServiceImpl"/>
    <bean id="znksExpiryDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="znksExpiryJob"/>
        <property name="targetMethod" value="execute"/>
        <property name="concurrent" value="false"/>
    </bean>
    <!-- ====================== 调度触发器 ======================== -->
    <bean id="znksStatusTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="znksStatusDetail"/>
        <property name="cronExpression" value="0 0/1 * * * ?"/>
    </bean>
    <bean id="znksAccountingTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="znksAccountingDetail"/>
        <property name="cronExpression" value="0 0/1 * * * ?"/>
    </bean>
    <bean id="znksExpiryTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="znksExpiryDetail"/>
        <property name="cronExpression" value="0 0/1 * * * ?"/>
    </bean>
    <!-- ======================== 调度工厂 ======================== -->
    <bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no">
        <property name="triggers">
            <list>
                <!--<ref bean="znksStatusTrigger"/>-->
                <!--<ref bean="znksAccountingTrigger"/>-->
                <ref bean="znksExpiryTrigger"/>
            </list>
        </property>
        <property name="autoStartup" value="true" />
        <property name="quartzProperties">
            <props>
                <prop key="org.quartz.threadPool.threadCount">1</prop>
            </props>
        </property>
    </bean>
</beans>